<h1>Tourament Director </h1>
<br>
 <div class="jumbotron">
    <h1>RTI inc.</h1>
   <p>RTI is a leader in Beer!</p>

 </div>
 <div class="row">
   <div class="col-md-4"><br>
     <h2>Golf tournament app</h2>
     <p>This page will help running registration, leadersboard, and tee sheet.</p>
   </div>
   <div class="col-md-4"><br>
     <h2>Beer is Good</h2>
     <p>Please drink responsible and Never drink and drive.</p>
   </div>
 </div>
