<h1>Set Tee Times</h1>
<form class="new_tee_time" id="new_tee_time" action="/tee_times" accept-charset="UTF-8" method="tee_time" abineguid="67A412E19800485B8BEF9569F6FA75CC"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="u5qH11P+xwMWIZjSHS1DssY3qrmCUpY4k7iXuyqvc9OZl1CPWfXekmZ2XLbdblOfNE/jsX6vqkqy9YYY05QyJw==">
   <label for="Tee_time_title">Starting Tee</label>
   <input type="text" name="tee_time[title]" id="tee_time_title">

   <label for="tee_time_body">Tee Time</label>
   <textarea name="tee_time[body]" id="tee_time_body"></textarea>

   <input type="submit" name="commit" value="Save">
 </form>
